/*
#224cff
#22a4ff
#2278ff
#224cff
#2422ff
#1c3fd4
#1733aa

*/

:root{
    --blue1: #22a4ff;
    --blue2: #2278ff;
    --blue3: #224cff;
    --blue4: #2422ff;
    --blue5: #1c3fd4;
    --blue6: #1733aa;
}

html, body{
    width: 100%;
    height: 100%;
    overflow: hidden;
    display: block;
}

body{
    margin: 0;
}

#container{
    width: 1200px;
    margin: 0 auto; 
    height: 800px; 
}


